.swiper {
  height: 234.05px;
}

.nav {
  padding: 10px 0;
  img {
    width: 48px;
  }
  h2 {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
  }
  .adm-grid-item {
    text-align: center;
  }
}
